{% extends 'base.html.twig' %}

{% block body %}

            <div class="container">

                {% include 'partials/_navbar.html.twig' %}

                <div class="d-flex align-items-center">
                    <!-- Journal Logo -->
                    <div class="journal-logo me-4">
                        <img src="{{ asset('build/images/logo-' ~ review.code ~ '-big.svg') }}"
                             alt="{{ review.name }} Logo" class="img-fluid logo">
                    </div>

                </div>
            </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('journalDetails') }}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}